<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Form Lab</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    </head>

    <body>
      
        <section>
       <div id="form">
            <h1>{{hi}}</h1>

            <form  v-on:submit.prevent>    
                <div class="col-1">
                    
                    <label>{{f1}}</label>
                    <input v-model="name" 
                    type="text" 
                    placeholder="Enter your full name">
                
                </div>
                <div class="col-2"> 
                    
                    <label>{{f2}}</label>
                    <input v-model="email" 
                    type="text" 
                    placeholder="Enter your email address">

                </div>
                <div class="col-2">
                    
                    <label>{{f3}}</label>
                    <input v-model.number="phone" 
                    type="text" 
                    placeholder="Enter your phone number">
                    
                </div>
                <div class="col-1">
                    <label>{{f4}}</label>
                    
                    <textarea v-model="message" 
                    placeholder= "Write your message here..." rows="8">
                    </textarea>
                </div>
                <div class="col-1">
                    <input type="submit"  @click = "go">
                </div>
               
            </form>
        </div>
       
        </section>
  
        <!-- Do not forget to link your JavaScript document -->
        <script src="js/index2.js"></script>
    </body>
</html>