@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    font-family: "Roboto", sans-serif;
    margin: 10px 200px;
    font-size: 18px;
    background-color: #f2f4fc;
    padding: 5rem 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
    margin-left: -2rem;
}

.col-1 {
    width: 100%;
    padding-left: 2rem;
}

.col-2 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 2rem;
}


label {
    display: block;
    margin: 2rem 0 0.5rem 0;
}

input[type="text"],
input[type="email"],
textarea {
    display: block;
    box-sizing: border-box;
    border: none;
    background: rgba(107, 112, 141, 0.1);
    width: 100%;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.4rem;
    font-size: 0.85rem;
    color: #6B708D;
    resize: none;
}

#phone,
#email {
    width: 100%;
}

input[type="submit"] {
    border: none;
    background: #072AC8;
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
    padding: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.85rem;
    color: white;
}

p {
    font-size: 0.8rem;
    color: #32343f;
}
.error label {
    color: red;
}
.correct label {
    color: green;
}
.error input, .error textarea {
    border: 3px solid red;
}

#error-msg {
    width: 100%;
    color: red;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
}
/* #correct-msg {
    width: 100%;
    color: green;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
} */

